{% extends "base.html" %}

{% block content %}

<h2>Welcome!</h2>

<p>This is a flask app with categories for catalogue items.</p>
{% if user_name != None %}
    <p>Your current games:</p>
	<div id="game-listing-current">
	{% if user_games|length < 1 %}
		<p>You are not currently in any games.</p>
	{% else %}
		{% for game in user_games %}
		<div class="game-entry">
			<div class="panel-heading">
				<div class="game-entry-heading">
					<div class="upper">
						<a href="/games/{{game.key()}}">{{game.game_name}}</a>
					</div>
				</div>
			</div>
			<div class="panel-body">
				<div class="game-entry-text">{{game.get_summary()}}</div>
			</div>
		</div>
		{% endfor %}
	{% endif %}
	</div>
{% else %}
    <p>Login to play.</p>
{% endif %}

{% endblock %}


