<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">

  <title>My Portfolio</title>
  <meta name="description" content="Blog Pond">
  <meta name="author" content="Ben Phelps">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link rel="stylesheet" href="/style/base.css?v=1.0">
  <link href='https://fonts.googleapis.com/css?family=Neuton' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"
	integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
	
  <script src="https://code.jquery.com/jquery-3.1.0.min.js"
	integrity="sha256-cCueBR6CsyA4/9szpPfrX3s49M9vUU5BgtiJj06wt/s=" crossorigin="anonymous"></script>
  
  <script>
	// Navigation positioning.
	$(document).ready(function()
	{
		var header = $("header");
		var headerBottomPos = header.position().top + header.outerHeight(true);
		var navPanel = $("nav ul");
		
		$(window).scroll(function (event) {
			var scrollPos = $(window).scrollTop();
			
			// Update position type.
			if(scrollPos > headerBottomPos)
			{
				navPanel.get(0).style.position = "fixed";
			}
			else
			{
				navPanel.get(0).style.position = "relative";
			}
		});
	})
  </script>
  
  
  <!--[if lt IE 9]>
    <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->
</head>

<body>
  <div id="outer-container">
	  <header>
	    <img src="/content/main-icon.jpg" width="20%" alt="Website Icon" />
		<h1>Blog Pond</h1>
		<h2>Share your thoughts on the internet, or don't</h2>
		
		<h3 id="userBar">
			{% if user_name != None %}Welcome, {{ user_name }}! <a href="/logout">Log out here</a>.
			{% else %}<a href="/login">Login here!</a>{% endif %}
		</h3>
	  </header>
	  <div id="main-flex-area">
		  <section id="main-content">
			{% block content %}{% endblock %}
		  </section>
		  <nav><ul><a href="/"><li>Home</li></a><a href="/blog/add"><li>Create Post</li></a><a href="/blog"><li>Blog</li></a><a href="/members"><li>Member List</li></a></ul></nav>
	  </div>
	  <footer></footer>
  </div>
</body>
</html>