{% extends "base.html" %}

{% block content %}

<h2>Welcome!</h2>

<p>On this website, you can play snakes and ladders with other people over the internet. Simply <a href="/games/add">create a new game</a> and there you go.</p>
<p>After creating a game, wait for players to join. When enough people are playing, click "Start Game" to begin playing.</p>
{% if user_name != None %}
    <p>Your current games:</p>
	<div id="game-listing-current">
	{% if user_games|length < 1 %}
		<p>You are not currently in any games.</p>
	{% else %}
		{% for game in user_games %}
		<div class="game-entry">
			<div class="panel-heading">
				<div class="game-entry-heading">
					<div class="upper">
						<a href="/games/{{game.key()}}">{{game.game_name}}</a>
					</div>
				</div>
			</div>
			<div class="panel-body">
				<div class="game-entry-text">{{game.get_summary()}}</div>
			</div>
		</div>
		{% endfor %}
	{% endif %}
	</div>
{% else %}
    <p>Login to play.</p>
{% endif %}

{% endblock %}


