<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">

  <title>My Portfolio</title>
  <meta name="description" content="Multi-user Blog">
  <meta name="author" content="Ben Phelps">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link rel="stylesheet" href="/style/base.css?v=1.0">
  <link href='https://fonts.googleapis.com/css?family=Neuton' rel='stylesheet' type='text/css'>

  <!--[if lt IE 9]>
    <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->
</head>

<body>
  <div id="outer-container">
	  <header>
	    <img src="content/main-icon.jpg" width="20%" alt="Website Icon" />
		<h1>B Phelps</h1>
		<h2>Website Extravanaza</h2>
		<h3 id="userBar"><a href="login">Login here!</a></h3>
	  </header>
	  <section id="main-content">
		{% block content %}{% endblock %}
	  </section>
	  <footer></footer>
  </div>
</body>
</html>