<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">

  <title>My Portfolio</title>
  <meta name="description" content="A portfolio site with links to all my projects">
  <meta name="author" content="Ben Phelps">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link rel="stylesheet" href="style/base.css?v=1.0">
  <link href='https://fonts.googleapis.com/css?family=Neuton' rel='stylesheet' type='text/css'>

  <!--[if lt IE 9]>
    <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->
</head>

<body>
  <div id="outer-container">
	  <header>
	    <img src="content/main-icon.jpg" width="20%" alt="Website Icon" />
		<h1>Splerp Derp</h1>
		<h2>Website Extravanaza</h2>
	    
	  </header>
	  
	  <section id="main-content">
		<img src="content/title-image.png" width="100%" alt="Title Image"/>
		<h2>Me</h2>
		<p>Welcome to the site. explalaspplas dplas d plasdla d aiwhaw hoaiwh dawhid awi oawoid hwa daw.</p>
		<h2>Featured Work</h2>
	  </section>
	  <footer></footer>
  </div>
</body>
</html>