{% extends "base.html" %}

{% block content %}

<h2>Blog Entries</h2>
{% if user_name != None %}<a href="/blog/add">+ Add new entry</a>{% endif %}

{% for blog_post in blog_posts %}
	<div class="blogpost">
		
		<!--<div class="blogpost-title">
			<a href="/blog/{{blog_post.key()}}"><h1>{{blog_post.title}}</h1></a> <a href="/blog/edit/{{blog_post.key()}}">(edit)</a>
			 | 
			<a href="/blog/delete/{{blog_post.key()}}">(delete)</a>
			 | 
			<button class="btn btn-default like-post" post-key="{{blog_post.key()}}">
				<span class="glyphicon glyphicon-thumbs-up" aria-hidden="true"></span>
			</button>
			<button class="btn btn-default like-post" post-key="{{blog_post.key()}}">
				<span class="glyphicon glyphicon-thumbs-down" aria-hidden="true"></span>
			</button>
		</div>
		<div class="blogpost-content">
			<div class="blogpost-image"></div>
			<div class="blogpost-text">{{blog_post.summary}}</div>
		</div>-->
		
		<div class="panel panel-default">
		  <div class="panel-heading">
			<div class="post-heading">
				<a href="/blog/{{blog_post.key()}}">{{blog_post.title}}</a><br />
				<div class="subtitle">1245 points</div>
			</div>
			{% if user_name != None %}
				<div class="post-controls">
				<a href="/blog/edit/{{blog_post.key()}}">(edit)</a>
				<span class="divider">|</span>
				<a href="/blog/delete/{{blog_post.key()}}">(delete)</a>
				<span class="divider">|</span>
				<button class="btn btn-default like-post" post-key="{{blog_post.key()}}">
					<span class="glyphicon glyphicon-thumbs-up" aria-hidden="true"></span>
				</button>
				<button class="btn btn-default like-post" post-key="{{blog_post.key()}}">
					<span class="glyphicon glyphicon-thumbs-down" aria-hidden="true"></span>
				</button>
			</div>
			{% endif %}
			
		  </div>
		  <div class="panel-body">
			<div class="blogpost-image"></div>
			<div class="blogpost-text">{{blog_post.summary}}</div>
		  </div>
		</div>
		
	</div>
	
	
{% endfor %}

<script>
	// Add click handler for like buttons.
	$(".like-post").click(function() {
		
		// Get key from page.
		var key = $(this).attr("post-key");
		var buttonPressed = $(this);
		
		// Post the blog post reaction.
		$.post( "/likepost/" + key, { reaction_type: "like", time: "2pm" }, function(responseData) {
			console.log("Result: " + responseData);
			buttonPressed.removeClass("btn-default");
			buttonPressed.addClass("btn-warning");
		});
	});
	
</script>
{% endblock %}
