 {% extends "base.html" %}

{% block content %}

<a id="addNewEntry" href="blog/add">+ Add new entry</a>

<h2>Blog Entries</h2>

{% for blog_post in blog_posts %}
	<div class="blogpost">
		
		<div class="blogpost-title">
			<a href="blog/{{blog_post.key()}}"><h1>{{blog_post.title}}</h1></a> <a href="{{blog_post.key()}}">(edit)</a>
		</div>
		<div class="blogpost-content">
			<div class="blogpost-image"></div>
			<div class="blogpost-text">{{blog_post.summary}}</div>
		</div>
		
	</div>
{% endfor %}

{% endblock %}
