{% extends "base.html" %}

{% block content %}

{% if new_id != None %}
	<div class="alert alert-success" role="alert">New blog entry added! <a href="/blog/{{ new_id }}">View the new post here</a>.</div>
{% endif %}

{% if error_messages %}
	<div class="alert alert-danger">
		There were problems with your request:
		<ul>
		{% for item in error_messages %}
			<li>{{item}}</li>
		{% endfor %}
		</ul>
	</div>
{% endif %}

<h2>Add entry</h2>

<form method="post">

	<div class="col-lg-12">
		<div class="input-group">
			<label for="entry_title">Title</label>
			<input class="form-control" type="text" name="entry_title"></input>
		</div>
		<div class="input-group">
			<label for="entry_summary">Summary</label>
			<input class="form-control" type="text" name="entry_summary"></input>
		</div>
		<div class="input-group">
			<label for="entry_contents">Contents</label>
			<textarea class="form-control" name="entry_contents" rows="10"></textarea>
		</div>
		<button type="submit" class="btn btn-primary">Post</button>
	</div>
	
</form>

{% endblock %}
