{% extends "base.html" %}

{% block content %}

{% if submitted %}
	<div class="alert alert-success" role="alert">Blog entry updated! <a href="/blog/{{post.key()}}">View the new post here</a>.</div>
{% elif error_messages %}
	<div class="alert alert-danger">
		There were problems with your request:
		<ul>
		{% for item in error_messages %}
			<li>{{item}}</li>
		{% endfor %}
		</ul>
	</div>
{% endif %}

<h2>Edit entry {{post.blog_post_id}} - {{post.title}}</h2>

<form method="post">
	<div class="col-lg-12">
		<div class="form-group">
			<label for="entry-title">Title</label>
			<input name="entry-title" class="form-control" value="{{post.title}}"></input>
		</div>
		<div class="input-group">
			<label for="entry-summary">Summary</label>
			<input name="entry-summary" class="form-control" value="{{post.summary}}"></input>
		</div>
		<div class="form-group">
			<label for="entry-contents">Contents</label>
			<textarea name="entry-contents" class="form-control" rows="10">{{post.contents}}</textarea>
		</div>
		<button type="submit" class="btn btn-primary">Post</button>
	</div>
</form>

{% endblock %}
