{% extends "base.html" %}

{% block content %}

<h2>Welcome!</h2>
<p>This website is a simple implementation of 
a blog site. Blog posts are listed below, and on the 
dedicated <a href="/blog">blog page found here.</a></p>
<p>There are currently {{blog_posts.count()}} blog posts on this site.</p>

{% for blog_post in blog_posts %}
	<div class="blogpost">
		<div class="panel panel-default blog-post" post-key="{{blog_post.key()}}">
		  <div class="panel-heading">
			<div class="post-heading">
				<div class="upper">
					<a href="/blog/{{blog_post.key()}}">{{blog_post.title}}</a>
					<span class="author"> by {{blog_post.owner.username}}</span>
				</div>
				<div class="subtitle">
					<span class="points">
						{{blog_post.reactions.filter('reaction_type =', 'like').count() - blog_post.reactions.filter('reaction_type =', 'dislike').count()}}
					</span>
					 points
				</div>
			</div>
			{% if user_name != None %}
				<div class="post-controls">
				
				{% if blog_post.owner.username == user_name %}
				<a class="button-edit" href="/blog/edit/{{blog_post.key()}}">(edit)</a>
				<span class="divider">|</span>
				<a class="button-delete" href="/blog/delete/{{blog_post.key()}}">(delete)</a>
				{% endif %}
				{% if blog_post.owner.username != user_name %}
				<span class="button-group">
					<button class="btn btn-default like-post">
						<span class="glyphicon glyphicon-thumbs-up" aria-hidden="true"></span>
					</button>
					<button class="btn btn-default dislike-post">
						<span class="glyphicon glyphicon-thumbs-down" aria-hidden="true"></span>
					</button>
				</span>
				{% endif %}
			</div>
			{% endif %}
		  </div>
		  <div class="panel-body">
			<div class="blogpost-image">
				<a href="/blog/{{blog_post.key()}}">
					<img width="120" height="120"
						 src="/img/blogtitle?img_id={{blog_post.key()}}" alt="Blog Image">
					</img>
				</a>
			</div>
			<div class="blogpost-text">{{blog_post.summary}}</div>
		  </div>
		</div>
	</div>
{% endfor %}

<script src="/scripts/blog.js"></script>
{% endblock %}


