{% extends "base.html" %}

{% block content %}

<h2>Welcome!</h2>
<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean gravida vestibulum arcu sit amet consectetur. Etiam quis luctus nisl. Nam commodo, ante nec euismod aliquet, lectus nulla tincidunt eros, et maximus ligula dolor non enim. Fusce posuere ut dolor id convallis. Mauris consequat, nunc ut cursus pulvinar, tortor elit efficitur dolor, at semper velit libero ac tortor. Vivamus fermentum venenatis turpis, sed mattis purus dignissim sed. Nunc orci massa, commodo vitae molestie quis, interdum eget odio. Morbi tincidunt enim at massa hendrerit lobortis. Mauris interdum ipsum nisl, ut dapibus quam porta a. Nullam sed tellus ut odio rutrum laoreet. Etiam tincidunt metus in neque dignissim, at ultrices massa aliquet. Nam efficitur venenatis molestie. Mauris eu justo in dui viverra cursus. Duis varius tempus enim lobortis placerat. Nullam sed leo varius.</p>

{% endblock %}


