{% extends "base.html" %}

{% block content %}


{% if error_messages %}
	<div id="errorBox">
		<h2>There were problems with your request:</h2>
		<ul>
		{% for item in error_messages %}
			<li>{{item}}</li>
		{% endfor %}
		</ul>
	</div>
{% endif %}

<h2>Log in</h2>
	
<form action="" method="post">

    <label for="login-name">Username<input id="login-name" type="text" name="login-name"></label><br />
	<label for="login-password">Password<input id="login-password" type="password" name="login-password"></label><br />
	
    <button>Log In</button>
	
</form>

<span>No account yet? <a href="register">Register here.</a></span>
{% endblock %}