{% extends "base.html" %}

{% block content %}

{% if new_id != None %}
	<div class="alert alert-success" role="alert">Successfully signed up! <a href="/login">Log in here</a>.</div>
{% endif %}

{% if error_messages %}
	<div class="alert alert-danger">
		There were problems with your request:
		<ul>
		{% for item in error_messages %}
			<li>{{item}}</li>
		{% endfor %}
		</ul>
	</div>
{% endif %}

<h2>Register</h2>
	
<form method="post">

	<div class="col-lg-12">
		<div class="input-group">
			<label for="register-name">Username</label>
			<input class="form-control" id="register-name" type="text" name="register-name" value="{{ form_user_name }}"></input>
		</div>
	</div>
	
	<div class="col-lg-12">
		<div class="input-group">
			<label for="register-pass1">Password</label>
			<input class="form-control" id="register-pass1" type="password" name="register-pass1"></input>
		</div>
	</div>
	
	<div class="col-lg-12">
		<div class="input-group">
			<label for="register-pass2">Password (again)</label>
			<input class="form-control" id="register-pass2" type="password" name="register-pass2"></input>
		</div>
	</div>
	
	<div class="col-lg-12">
		<div class="input-group">
			<label for="register-email">Email</label>
			<input class="form-control" id="register-email" type="text" name="register-email" value="{{ form_email }}"></input>
		</div>
	</div>
	
	<div class="col-lg-12">
		<button class="btn btn-primary">Register</button>
	</div>
	
</form>

{% endblock %}

