*
{
	color:#2d3c49;
	font-family: 'Neuton', serif;
}

a
{
	text-decoration:none;
	font-weight:bold;
}

p
{
	margin-top:0;
}

header
{
	
}

header img
{
	float:left;
	width:95px;
}


header h1
{
	font-size:40pt;
	text-align:right;
	
	margin:0;
}

header h2
{
	font-size:20pt;
	text-align:right;
	
	margin:0;
}

header h3
{
	
	font-size:12pt;
	text-align:right;
	
	margin:0;
}

header h3 a
{
	color:#666;
	text-decoration:none;
}

header h3 a:hover
{
	color:#000;
}


footer
{
	
}

#outer-container
{
	max-width:800px;
	
	margin:auto;
	
	margin-top:40px;
	margin-bottom:100px;
}

#main-content
{
	border-top:4px solid #338360;
	padding-top:10px;
}

#main-content h2
{
	color:#7d97ad;
	
	margin-bottom:0;
}

#errorBox
{
	background-color:rgba(255, 0, 0, 0.5);
	border-radius:10px;
	
	padding:10px;
	
	opacity:1;
	
	width:420px;
}

#errorBox h2
{
	color:black;
}

label
{
	display:block;
	width:300px;
	
	margin-bottom:15px;
}

label input
{
	width:100%;
}












































