*
{
	color:#2d3c49;
	font-family: 'Neuton', serif;
}

p
{
	margin-top:0;
}

header
{
	
}

header img
{
	float:left;
	width:95px;
}


header h1
{
	font-size:40pt;
	text-align:right;
	
	margin:0;
}

header h2
{
	font-size:20pt;
	text-align:right;
	
	margin:0;
}


footer
{
	
}

#outer-container
{
	max-width:800px;
	
	margin:auto;
	
	margin-top:40px;
	margin-bottom:100px;
}

#main-content
{
	border-top:4px solid #338360;
	padding-top:10px;
}

#main-content h2
{
	color:#7d97ad;
	
	margin-bottom:0;
}

#featured-work-container
{
	display:flex;
	flex-flow: row wrap;
	justify-content:center;
	
	position:relative;
	margin:auto;
}


.featured-work
{	
	min-height:140px;
	margin-right:10px;
	margin-bottom:20px;
	
	box-sizing:border-box;
	
	flex:0 0 calc(33% - 4px);
}

@media screen and (min-width: 830px) {

	.featured-work:nth-child(3n)
	{
		margin-right:0;
	}

}

@media screen and (max-width: 830px) {
    .featured-work
	{	
		min-height:140px;
		margin-right:10px;
		margin-bottom:20px;
		
		box-sizing:border-box;
		
		flex:0 0 calc(50% - 16px);
	}

	.featured-work:nth-child(2n)
	{
		margin-right:0;
	}

}

@media screen and (max-width: 450px) {
	
    .featured-work
	{	
		min-height:140px;
		margin-right:0;
		margin-bottom:20px;
		
		box-sizing:border-box;
		
		flex:0 0 auto;
	}

	

}

.featured-work h3
{
	color:#2d3c49;
	margin:0;
	
	text-align:center;
}


.featured-work a
{
	color:#2d3c49;
}
































