*
{
	color:#2d3c49;
	font-family: 'Neuton', serif;
}

a
{
	text-decoration:none;
	font-weight:bold;
}

p
{
	margin-top:0;
}

header
{
	
}

header img
{
	float:left;
	width:115px;
}


header h1
{
	font-size:40pt;
	text-align:right;
	
	margin:0;
}

header h2
{
	font-size:20pt;
	text-align:right;
	
	margin:0;
}

header h3
{
	
	font-size:12pt;
	text-align:right;
	
	margin:0;
}

header h3 a
{
	color:#666;
	text-decoration:none;
}

header h3 a:hover
{
	color:#000;
}

nav
{
	position:relative;
	width:0;
	
	left:15px;
	
	
	float:right;
}

nav ul {
	
	position:relative;
	top:10px;
	
	width:140px;
	
	/* Remove bullets. */
	list-style-type:none;
	padding:0;
	margin:0;
}

nav li {
	height:40px;
	line-height: 32px;
	vertical-align: middle;
	
	font-size:16pt;
	
	padding:0;
	padding-left:5px;
	
	background-color:#338360;
	margin:0;
	margin-bottom:10px;
}

nav li.current{
	background-color:#000;
}

nav li a {
	
	height:30px;
	
	text-decoration: none;
}


footer
{
	
}

#addNewEntry
{
	display:block;
	
	background-color:#ddd;
	width:320px;
	height:100px;
	
	text-align;center;
}

#outer-container
{
	max-width:800px;
	
	margin:auto;
	
	margin-top:40px;
	margin-bottom:100px;
}

#main-content
{
	border-top:4px solid #338360;
	padding-top:10px;
}

#main-content h2
{
	color:#7d97ad;
	
	margin-bottom:0;
}

#errorBox
{
	background-color:rgba(255, 0, 0, 0.5);
	border-radius:10px;
	
	padding:10px;
	
	opacity:1;
	
	width:420px;
}

#errorBox h2
{
	color:black;
}

label
{
	display:inline-block;
	width:300px;
	
	margin-bottom:15px;
}

label input
{
	/*width:100%;*/
}

input[type="radio"]
{
	clear:both;
	background-color:red;
}

.blogpost
{
	width:500px;
	background-color:#ddd;
	margin-bottom:12px;
}

.blogpost-title
{
	background-color:#444;
	
}

.blogpost-title h1
{
	padding:5px;
	color:#fff;
}








































